.warning_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    padding: 3px 20px;
    color: #000000;
    border-radius: 12px;
    border: 3px solid #C85A78 ;
    font-family: 'IBM Plex Mono', monospace;
}

.warning_bold{
    font-weight: 800;
    font-size: 16px;
}

.warning_light{
    font-weight: 400;
    font-size: 14px;
}

.warning_card_container img{
    margin-right: 5%;
}