nav{
    background-color: #D9D9D9;
    color: #5C5A5A;
    border-bottom: 1px solid #4D4D4D ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar_container {
    height: 30px;
    top: 0; 
    max-width: 100%; 
    width: 100%;
    padding: 10% 0%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnavbar_container{
    display: flex;
    flex-direction: column;
}

.subnavbar_container img{
    width: 30%;
    margin-top: -6%;
}

.no_login{
    margin-left: 35%;
}

.subnavbar_subtitle{
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin-top: 2%;
}

.subnavbar_subtitle_none{
    display: none;
}

.navbar_icon_container{
    padding: 0 5%;
}

.navbar_icon{
    width: 100%;
    height: 5vh;
    padding: 0 10%;
}

.navbar_account_icon{
    width: 100%;
    height: 5vh;
    padding: 0 10%;
}

.navbar_greeting_text {
    margin-right: -25%;
    color: #C6738A;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    font-size: 15px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}


.container {
    background-color: #D9D9D9;
    width: 100%;
    height: 100vh;
}

.social_menu_icon, .account_menu_icon {
    width: 80px;
    padding: 5% 5% 0 ;
}

.account_menu_icon {
    margin-left: 120px;
    padding: 8% 8% 0 ;
}
.social_menu_icon img {
    width: 100%;
}

.account_menu_icon  img{
    width: 40px;
}

.social_menu {
    width: 100%;
    height: 100vh;
    background-color: #5C5A5A;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.account_menu {
    width: 50%;
    background-color: #5C5A5A;
    border: 2px solid #4D4D4D ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    border-radius: 12px;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
}
.account_menu_active, .social_menu_active {
    display: block;
    z-index: 500;
    position: fixed;
}

.social_menu ul, .account_menu ul {
    margin-top: 25px;
    padding: inherit;
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.social_menu ul a, .account_menu ul a{
    text-decoration: none;
    margin: auto;
}

.account_menu ul a{
    margin: 5% 0 ;
}

.social_menu ul li, .account_menu ul li {
    width: auto;
    padding-top: 20%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffff;
}

.social_menu li:hover{
    font-size: 30px;
    font-weight: 800;
}

#account_menu_line_break {
    padding-top: 10%;
    margin-bottom: -5% ;
}

#logout_button_container{
    margin-top: -30%;
}

.social_menu li img, .account_menu li img {
    width: 100%;
}

.logo_container img {
    width: 50%;
    margin: 0 25%;
}