.question_card_accordion_container{
    display: flex;
    flex-direction: column;
    border: 2px solid #4D4D4D ;
    background-color: #FFFFFF;
}

.question_accordion_user_data_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}
.question_accordion_data_container{
    width: 45%;
    display: flex;
    align-items: center;
}

.question_acordion_section_title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin: 2% 5% 2% 0;
}

.question_acordion_section_result{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    width: fit-content;
    margin: 2% 5% 2% 2%;
}

.question_accordion_question_container{
    display: flex;
    background-color: #4D4D4D;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    padding: 3%;
}

.question_accordion_favourite_button{
    border:none;
    background-color: #4D4D4D; ;
}
.question_accordion_favourite_button img{
    margin-bottom: 50px;
}

.question_accordion_labels_container{
    display: flex;

}

.question_accordion_labels_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
}

.question_accordion_selected_label{
    height: fit-content;
    border-radius: 25px;
    border: 3px solid #C85A78;
    background-color: #FFFFFF;
    padding: 1% 4%;
    margin: 5px 5px;
}

.question_accordion_answer_expand_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border: 1px solid #4D4D4D;
}

.question_accordion_answer_expand{
    display: flex;
}

.question_accordion_likes_container{
    display: flex;
}

.question_accordion_likes_counter_container{
    display: flex;
    border: 2px solid #C85A78;
    padding: 2px 5px;
}
#question_accordion_like{
    border-radius: 15px 0 0 15px;
}

#question_accordion_dislike{
    border-radius: 0 15px 15px 0;
}

.question_accordion_likes_button{
    border: none;
    background-color: #FFFFFF;
}