.accordion {
    max-width: 420px;
    text-align: left;
  }
  
  .article_card {
    padding: 1em;
    margin: 1em auto;
  }
  
  .grey_article{
    background-color: #D9D9D9;
    border: 2px solid #5C5A5A;
  }
  .blue_article{
    background-color: #86BFD1;
    border: 2px solid #5C5A5A;
  }
  .yellow_article{
    background-color: #FED686;
    border: 2px solid #5C5A5A;
  }

  .article_tittle_container{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .article_title{
      padding-left: 5%;
      padding-right: 5%;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 700;
      font-size: 17px;
  }
  .attach_tittle{
    display: flex;
    width: 80%;
  }
  
  .article_subtitle{
      font-family: 'IBM Plex Mono', monospace;
      margin-top: -2%;
      padding-left: 3%;
      font-weight: 400;
      font-size: 12px;
  }
  
  .article_body_container{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  
  #article_card input[type="checkbox"] {
    appearance: none;
    position: fixed;
    top: -100vh; left: -100vh;
  
    & ~ div {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
    }
  
    &:checked ~ div {
      max-height: fit-content;
    }
  }