.search_container{
    display: flex;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #C85A78;
}

.search_input{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    padding: 10px 10px 10px 50px;
    margin:auto;
    width: 90%; 
    max-width: 90%;
    background-color: #FFFF;
    color: #000000;
    border-radius: 12px;
    border: 2px solid #4D4D4D ;
}

.search_icon{
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10%;
    top: 51%;
    transform: translateY(-50%);
}